body {
  background-color: #1c1c1c;
  color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h1, h2 {
  color: #ffffff;
}

strong {
  color: orange;
}

.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #333333;
  border-radius: 20px;
  max-width: 700px;
  text-align: center;
}
form {
  margin: 20px auto;
  text-align: center;
  width: 80%;
  max-width: 600px;
}

a {
  color: #5ff;
}

a:hover {
  color: orange;
}

a:active {
  color: yellow;
}

img {
  vertical-align: middle;
}
