body {
  background-color: #1c1c1c;
  color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

h1, h2 {
  color: #ffffff;
}

strong, .strong {
  color: orange;
  font-weight: bold;
}

.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #333333;
  border-radius: 20px;
  max-width: 700px;
  text-align: center;
}
.container table {
  margin-left: auto;
  margin-right: auto;
}
form {
  margin: 20px auto;
  text-align: center;
  width: 80%;
  max-width: 600px;
}

a {
  color: #5ff;
}

a:hover {
  color: orange;
}

a:active {
  color: yellow;
}

img {
  vertical-align: middle;
}

table.padded th,
table.padded td {
  padding: 15px;
}


.heart { color: red; }
.spade { color: gray; }
.club { color: forestgreen; }
.diamond { color: dodgerblue; }
