input[type="text"] {
  background-color: #1c1c1c;
  color: #f2f2f2;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  font-size: 24px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 60%;
}
input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  padding: 10px;
  width: 30%;
}

.result, .question {
  color: #ffffff;
  font-size: 24px;
  margin: 20px auto;
  text-align: center;
  width: 80%;
  max-width: 600px;
}
.question-em {
  font-size: 120%;
  color: yellow;
}

.level-links {
  text-align: center;
}

.level-links a {
  margin: 0 10px;
}

.level-links a.disabled {
  color: #ddd;
  cursor: not-allowed;
  pointer-events: none;
}
